<!-- Row -->
<div class="row" id="#table">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-success">
                <h4 class="m-b-0 text-white" align="center">REFORMA PRESUSPUESTARIA</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="registerForm">
                    <div class="form-body">

                        <hr>
                        <div class="row p-t-20">

                            <div class="col-md-12">
                                <div class="form-group has-success">
                                    <label class="control-label">Seleccione Requirente</label>
                                    <select class="form-control custom-select" formControlName="requirente">
                                        <option value="RECTORADO">RECTORADO</option>
                                        <option value="SEDE">SEDE</option>
                                        <option value="VICERECTORADO">VICERECTORADO</option>
                                    </select>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label class="control-label">Número de Modificación Presupuestaria:</label>
                                    <input type="text" id="firstName" class="form-control"
                                        placeholder="Numeración interna del requirente"
                                        formControlName="numeroModificacion">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">FECHA </label>
                                    <input type="date" class="form-control" placeholder="dd/mm/yyyy"
                                        formControlName="fechapresupuestaria">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Tpo de gasto</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="Tipo de gasto"
                                        formControlName="tipoGasto">

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label class="control-label">Tipo de modificación:</label>
                                    <select class="form-control custom-select" formControlName="tipoModificacion">
                                        <option value="Traspasos de créditos dentro de la actividad ">Traspasos de
                                            créditos dentro de la actividad </option>
                                        <option value="Traspaso de créditos entre actividades">Traspaso de créditos
                                            entre actividades</option>

                                    </select>

                                </div>
                            </div>




                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Monto solicitado:</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="Monto"
                                        formControlName="montoSolicitado">

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Justificación:</label>
                                    <input type="text" id="firstName" class="form-control" placeholder=""
                                        formControlName="justificacion">

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <p><b>La Norma Técnica de Presupuesto del Ministerio de Finanzas No. 2.3.4.3
                                            MODIFICACIONES AL PRESUPUESTO Las modificaciones al presupuesto se
                                            sustentarán en un informe técnico que respalde la necesidad y el propósito
                                            de su realización. Adicionalmente, se deberá contar con un informe de la
                                            Unidad de Planificación Institucional respecto de su efecto en el plan anual
                                            institucional y en el cumplimiento de las metas de resultados de los
                                            programas involucrados. Al informe se incorporará los documentos de soporte
                                            pertinentes, según el caso.
                                            -Resolución 2020-001-ESPE-a-1 de fecha, Artículo 27.- Delegar las
                                            aprobaciones de reforma presupuestarias para el cumplimiento de los
                                            objetivos de las Universidad de las Fuerzas Armadas ESPE, en gasto
                                            permanente y no permanente, entre proyectos/programas/unidades/actividades,
                                            siempre y cuando no se afecte el techo presupuestario institucional y se
                                            cuente con el informe favorable del Vicerrectorado Administrativo. </b>
                                    </p>

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">RESOLUCIÓN</label>
                                    <input type="text" id="firstName" class="form-control" placeholder=""
                                        formControlName="resolucion">

                                </div>
                            </div>



                            <!--/span-->
                        </div>
                        <!--/row-->

                        <div class="card-header text-white  bg-success"><img
                                src="../../../assets/images/documento.png" />&nbsp;<b>MODIFICACIÓN PRESUPUESTARIA: </b>
                        </div>
                        <!-- Inicio cambio diseño referencia comerciales -->
                        <div class="row m-0 justify-content-center align-items-center vh-100">

                            <button (click)="voteDown(-1)" class="btn btn-danger" min="1">
                                -
                            </button> &nbsp;&nbsp;&nbsp;&nbsp; <h3 class="display-4">{{votes}}</h3>
                            &nbsp;&nbsp;&nbsp;&nbsp; <button (click)="voteUp(+1)" class="btn btn-success">
                                +
                            </button>

                        </div>
                        <div class="card-body ">
                            <div class="row m-0 justify-content-center align-items-center vh-100  ">



                                <div formArrayName="modificacionPresupuestaria"
                                    *ngFor="let modificacionPresupuestaria of modificacionPresupuestaria.controls; let i = index">

                                    <div [formGroupName]="i">



                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td id="colorTituloRF"></td>
                                                    <td align="center" id="colorTituloRF"><strong>PARTIDA ORIGEN &nbsp;
                                                        </strong>
                                                    </td>
                                                    <td align="center" id="colorTituloRF"><strong>PARTIDA DESTINO&nbsp;
                                                        </strong>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>LINEA POA</td>
                                                    <td [attr.for]="'lineaPoa' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'lineaPoa' + i" placeholder=""
                                                            formControlName="lineaPoa">
                                                    </td>

                                                    <td [attr.for]="'lineaPoa1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'lineaPoa1' + i" placeholder=""
                                                            formControlName="lineaPoa1">
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>EOD</td>
                                                    <td [attr.for]="'eod' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'eod' + i" placeholder="" formControlName="eod">
                                                    </td>

                                                    <td [attr.for]="'eod1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'eod1' + i" placeholder=""
                                                            formControlName="eod1">
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>ESTRUCTURA PROGRAMÁTICA</td>
                                                    <td [attr.for]="'estructuraProgramatica' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'estructuraProgramatica' + i" placeholder=""
                                                            formControlName="estructuraProgramatica">

                                                    </td>
                                                    <td [attr.for]="'estructuraProgramatica1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'estructuraProgramatica1' + i" placeholder=""
                                                            formControlName="estructuraProgramatica1">
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>NOMBRE DE LA ACTIVIDAD/PROYECTO</td>
                                                    <td [attr.for]="'actividadProyectos' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'actividadProyectos' + i" placeholder=""
                                                            formControlName="actividadProyectos">
                                                    </td>
                                                    <td [attr.for]="'actividadProyectos1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'actividadProyectos1' + i" placeholder=""
                                                            formControlName="actividadProyectos1">
                                                        <!-- <input > -->

                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td>FUENTE DE FINANCIAMIENTO</td>
                                                    <td [attr.for]="'fuenteFinanciamiento' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'fuenteFinanciamiento' + i" placeholder=""
                                                            formControlName="fuenteFinanciamiento">
                                                        <!-- <input > -->

                                                    </td>
                                                    <td [attr.for]="'fuenteFinanciamiento1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'fuenteFinanciamiento1' + i" placeholder=""
                                                            formControlName="fuenteFinanciamiento1">
                                                        <!-- <input > -->

                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td>DETALLE DE LA PARTIDA</td>
                                                    <td [attr.for]="'detallePartida' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'detallePartida' + i" placeholder=""
                                                            formControlName="detallePartida">



                                                    </td>
                                                    <td [attr.for]="'detallePartida1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'detallePartida1' + i" placeholder=""
                                                            formControlName="detallePartida1">



                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>ITEM PRESUPUESTARIO</td>
                                                    <td [attr.for]="'itemPresupuestario' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'itemPresupuestario' + i" placeholder=""
                                                            formControlName="itemPresupuestario">



                                                    </td>
                                                    <td [attr.for]="'itemPresupuestario1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'itemPresupuestario1' + i" placeholder=""
                                                            formControlName="itemPresupuestario1">



                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td> SALDO POR COMPROMETER </td>
                                                    <td [attr.for]="'saldoComprometer' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'saldoComprometer' + i" placeholder=""
                                                            formControlName="saldoComprometer">



                                                    </td>
                                                    <td [attr.for]="'saldoComprometer1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'saldoComprometer1' + i" placeholder=""
                                                            formControlName="saldoComprometer1">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>CERTIFICADO </td>
                                                    <td [attr.for]="'certificado' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'certificado' + i" placeholder=""
                                                            formControlName="certificado">
                                                    </td>
                                                    <td [attr.for]="'certificado1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'certificado1' + i" placeholder=""
                                                            formControlName="certificado1">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> INCREMENTO </td>
                                                    <td [attr.for]="'incremento' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'incremento' + i" placeholder=""
                                                            formControlName="incremento">



                                                    </td>
                                                    <td [attr.for]="'incremento1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'incremento1' + i" placeholder=""
                                                            formControlName="incremento1">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td> REDUCCIÓN </td>
                                                    <td [attr.for]="'reduccion' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'reduccion' + i" placeholder=""
                                                            formControlName="reduccion">
                                                    </td>
                                                    <td [attr.for]="'reduccion1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'reduccion1' + i" placeholder=""
                                                            formControlName="reduccion1">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>NUEVO SALDO </td>
                                                    <td [attr.for]="'nuevosaldo' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'nuevosaldo' + i" placeholder=""
                                                            formControlName="nuevosaldo">
                                                    </td>
                                                    <td [attr.for]="'nuevosaldo1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'nuevosaldo1' + i" placeholder=""
                                                            formControlName="nuevosaldo1">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <!-- Fin cambio de diseño -->
                        <!--REPROGRAMACION FINANCIERA-->
                        <div class="card-header text-white  bg-success"><img
                                src="../../../assets/images/documento.png" />&nbsp;<b>REPROGRAMACIÓN FINANCIERA (mes de
                                ejecución de presupuesto): </b>
                        </div>
                        <!-- Inicio cambio diseño referencia comerciales -->
                        <div class="row m-0 justify-content-center align-items-center vh-100">

                            <button (click)="voteDown1(-1)" class="btn btn-danger" min="1">
                                -
                            </button> &nbsp;&nbsp;&nbsp;&nbsp; <h3 class="display-4">{{votes1}}</h3>
                            &nbsp;&nbsp;&nbsp;&nbsp; <button (click)="voteUp1(+1)" class="btn btn-success">
                                +
                            </button>

                        </div>
                        <div class="card-body ">
                            <div class="row m-0 justify-content-center align-items-center vh-100  ">



                                <div formArrayName="reprogramacionFinaciera"
                                    *ngFor="let reprogramacionFinaciera of reprogramacionFinaciera.controls; let i = index">

                                    <div [formGroupName]="i">



                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td id="colorTituloRF"></td>
                                                    <td align="center" id="colorTituloRF"><strong>PARTIDA ORIGEN &nbsp;
                                                        </strong>
                                                    </td>
                                                    <td align="center" id="colorTituloRF"><strong>PARTIDA DESTINO&nbsp;
                                                        </strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>DETALLE DE LA PARTIDA</td>
                                                    <td [attr.for]="'detallePartida' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'detallePartida' + i" placeholder=""
                                                            formControlName="detallePartida">
                                                    </td>

                                                    <td [attr.for]="'detallePartida1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'detallePartida1' + i" placeholder=""
                                                            formControlName="detallePartida1">
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>NÚMERO DE PARTIDA</td>
                                                    <td [attr.for]="'numeroPartida' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'numeroPartida' + i" placeholder=""
                                                            formControlName="numeroPartida">

                                                    </td>
                                                    <td [attr.for]="'numeroPartida1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'numeroPartida1' + i" placeholder=""
                                                            formControlName="numeroPartida1">
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>NUEVO SALDO </td>
                                                    <td [attr.for]="'nuevoSaldo' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'nuevoSaldo' + i" placeholder=""
                                                            formControlName="nuevoSaldo">
                                                    </td>
                                                    <td [attr.for]="'nuevoSaldo1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'nuevoSaldo1' + i" placeholder=""
                                                            formControlName="nuevoSaldo1">
                                                        <!-- <input > -->

                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td>PROGRAMACIÓN DE EJECUCIÓN (POA)</td>
                                                    <td [attr.for]="'ejecucionPoa' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'ejecucionPoa' + i" placeholder=""
                                                            formControlName="ejecucionPoa">
                                                        <!-- <input > -->

                                                    </td>
                                                    <td [attr.for]="'ejecucionPoa1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'ejecucionPoa1' + i" placeholder=""
                                                            formControlName="ejecucionPoa1">
                                                        <!-- <input > -->

                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td>ENERO</td>
                                                    <td [attr.for]="'enero' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'enero' + i" placeholder=""
                                                            formControlName="enero">



                                                    </td>
                                                    <td [attr.for]="'enero1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'enero1' + i" placeholder=""
                                                            formControlName="enero1">



                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>FEBRERO</td>
                                                    <td [attr.for]="'febrero' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'febrero' + i" placeholder=""
                                                            formControlName="febrero">



                                                    </td>
                                                    <td [attr.for]="'febrero1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'febrero1' + i" placeholder=""
                                                            formControlName="febrero1">



                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>MARZO</td>
                                                    <td [attr.for]="'marzo' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'marzo' + i" placeholder=""
                                                            formControlName="marzo">



                                                    </td>
                                                    <td [attr.for]="'marzo1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'marzo1' + i" placeholder=""
                                                            formControlName="marzo1">



                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>ABRIL</td>
                                                    <td [attr.for]="'abril' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'abril' + i" placeholder=""
                                                            formControlName="abril">



                                                    </td>
                                                    <td [attr.for]="'abril1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'abril1' + i" placeholder=""
                                                            formControlName="abril1">



                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>MAYO</td>
                                                    <td [attr.for]="'mayo' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'mayo' + i" placeholder=""
                                                            formControlName="mayo">



                                                    </td>
                                                    <td [attr.for]="'mayo1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'mayo1' + i" placeholder=""
                                                            formControlName="mayo1">



                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>JUNIO</td>
                                                    <td [attr.for]="'junio' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'junio' + i" placeholder=""
                                                            formControlName="junio">



                                                    </td>
                                                    <td [attr.for]="'junio1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'junio1' + i" placeholder=""
                                                            formControlName="junio1">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>JULIO </td>
                                                    <td [attr.for]="'julio' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'julio' + i" placeholder=""
                                                            formControlName="julio">
                                                    </td>
                                                    <td [attr.for]="'julio1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'julio1' + i" placeholder=""
                                                            formControlName="julio1">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>AGOSTO </td>
                                                    <td [attr.for]="'agosto' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'agosto' + i" placeholder=""
                                                            formControlName="agosto">



                                                    </td>
                                                    <td [attr.for]="'agosto1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'agosto1' + i" placeholder=""
                                                            formControlName="agosto1">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td> SEPTIEMBRE</td>
                                                    <td [attr.for]="'septiembre' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'septiembre' + i" placeholder=""
                                                            formControlName="septiembre">
                                                    </td>
                                                    <td [attr.for]="'septiembre1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'septiembre1' + i" placeholder=""
                                                            formControlName="septiembre1">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>OCTUBRE </td>
                                                    <td [attr.for]="'octubre' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'octubre' + i" placeholder=""
                                                            formControlName="octubre">
                                                    </td>
                                                    <td [attr.for]="'octubre1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'octubre1' + i" placeholder=""
                                                            formControlName="octubre1">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>NOVIEMBRE</td>
                                                    <td [attr.for]="'noviembre' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'noviembre' + i" placeholder=""
                                                            formControlName="noviembre">
                                                    </td>
                                                    <td [attr.for]="'noviembre1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'noviembre1' + i" placeholder=""
                                                            formControlName="noviembre1">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>DICIEMBRE </td>
                                                    <td [attr.for]="'diciembre' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'diciembre' + i" placeholder=""
                                                            formControlName="diciembre">
                                                    </td>
                                                    <td [attr.for]="'diciembre1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'diciembre1' + i" placeholder=""
                                                            formControlName="diciembre1">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td> TOTAL REPROGRAMACIÓN </td>
                                                    <td [attr.for]="'reprogramacionTotal' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'reprogramacionTotal' + i" placeholder=""
                                                            formControlName="reprogramacionTotal">
                                                    </td>
                                                    <td [attr.for]="'reprogramacionTotal1' + i">
                                                        <input type="text" id="firstName" class="form-control"
                                                            [attr.id]="'reprogramacionTotal1' + i" placeholder=""
                                                            formControlName="reprogramacionTotal1">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <!-- Fin cambio de diseño -->


                        <div class="container fileUploadWrapper">
                            <div class="row">
                                <!-- Progress Bar -->
                                <div class="col-md-12" *ngIf="progress">
                                    <div class="progress form-group">
                                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                            [style.width.%]="progress">
                                        </div>
                                    </div>
                                </div>
                                <h3 align="center"><b> DOCUMENTOS DE SOPORTE PARA LA ELABORACIÓN DEL INFORME:</b></h3>
                                <div class="col-md-12">
                                    <label class="text-danger" for="tipoDeArchivp">Por favor los documentos deben ser
                                        adjuntados en un solo archivo de formato ".pdf" </label>
                                    <div class="fileupload" appDragDropFileUpload (click)="fileField.click()"
                                        (fileDropped)="upload($event)">
                                        <span class="ddinfo">Presione Aqui para Subir Archivo</span>
                                        <input type="file" accept=".pdf" name="avatars" #fileField
                                            (change)="upload($event.target.files)" hidden multiple>

                                    </div>

                                    <div class="alert alert-success " role="alert "><em>Anexo 1: Deben incluirse los documentos que sustentan la justificación, debidamente legalizados. Es de cumplimiento obligatorio. </em></div>


                                </div>

                                <div class="col-md-12">
                                    <div class="image-list" *ngFor="let file of fileArr; let i = index">
                                        <div class="profile">
                                            <img [src]="sanitize(file['url'])" alt="">
                                        </div>
                                        <p>{{file.item.name}}</p>
                                    </div>
                                    <p class="message">{{msg}}</p>
                                </div>
                            </div>
                        </div>


                           


                        <!--/row-->

                        <div class="card-header text-white  bg-success"><img
                            src="../../../assets/images/documento.png" />&nbsp;<b>DECLARATORIA DE LOS REQUIRENTES </b>
                        </div>

                        <div class="card-body ">
                            <div class="row m-0 justify-content-center align-items-center vh-100  ">



                                <div >

                                    <div>



                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td id="colorTituloRF">Requisito</td>
                                                    <td align="center" id="colorTituloRF">Estado<strong> &nbsp;
                                                        </strong>
                                                    </td>
                                               
                                                </tr>
                                                <tr>
                                                    <td>La modificación presupuestaria afecta a los Objetivos Estratégicos del POA del año en curso</td>
                                                    <td >
                                                        <select class="form-control custom-select" formControlName="requisito1">
                                                            <option value="SI">SI</option>
                                                            <option value="NO">NO</option>
                    
                                                        </select>
                                                    </td>

                                                 

                                                </tr>
                                                <tr>
                                                    <td>La modificación presupuestaria afecta a los Indicadores del POA del año en curso</td>
                                                    <td>
                                                        <select class="form-control custom-select" formControlName="requisito2">
                                                            <option value="SI">SI</option>
                                                            <option value="NO">NO</option>
                    
                                                        </select>
                                                    </td>
                                               

                                                </tr>
                                                <tr>
                                                    <td>La modificación presupuestaria afecta al cumplimiento de metas de resultados de los programas involucrados </td>
                                                    <td >
                                                        <select class="form-control custom-select" formControlName="requisito3">
                                                            <option value="SI">SI</option>
                                                            <option value="NO">NO</option>
                    
                                                        </select>
                                                    </td>
                                                

                                                </tr>

                                                <tr>
                                                    <td>La tarea consta en el POA del año en curso</td>
                                                    <td>
                                                        <select class="form-control custom-select" formControlName="requisito4">
                                                            <option value="SI">SI</option>
                                                            <option value="NO">NO</option>
                    
                                                        </select>
                                                        <!-- <input > -->

                                                    </td>
                                                  

                                                </tr>

                                                <tr>
                                                    <td>Descripción / Análisis de los requisitos: </td>
                                                    <td >
                                                        <textarea  type="text " class="form-control " formControlName="descripcion">
                                                        </textarea>
                                                    </td>
                                               
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin cambio de diseño -->


                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success" (click)="crearInidcador()"> GUARDAR<i
                                class="fa fa-check"></i></button>
                               
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Row -->
<div class="card-header bg-success">
    <h4 class="m-b-0 text-white" align="center">Seguimiento Evaluaciones</h4>
</div> <br>
<div class="card-header text-white  bg-success"><img
    src="../../../assets/images/documento.png" />&nbsp;<b>Iasa</b>
</div>
<br>
<app-iasa></app-iasa>
<br>
<div class="card-header text-white  bg-success"><img
    src="../../../assets/images/documento.png" />&nbsp;<b>Latacunga</b>
</div>
<br>
<app-latacunga></app-latacunga>
<br>
<div class="card-header text-white  bg-success"><img
    src="../../../assets/images/documento.png" />&nbsp;<b>Santo Domingo</b>
</div>
<br>
<app-santo-domingo></app-santo-domingo>
<br>
<div class="card-header text-white  bg-success"><img
    src="../../../assets/images/documento.png" />&nbsp;<b>ViceInvestigación</b>
</div>
<br>
<app-vice-investigacion></app-vice-investigacion>
<br>
<div class="card-header text-white  bg-success"><img
    src="../../../assets/images/documento.png" />&nbsp;<b>ViceAdministrativo</b>
</div>
<app-vice-administrativo></app-vice-administrativo>
<br>
<div class="card-header text-white  bg-success"><img
    src="../../../assets/images/documento.png" />&nbsp;<b>Unidades Rectorado</b>
</div>
<br>
<app-unidades-rectorado></app-unidades-rectorado>
<br>
<div class="card-header text-white  bg-success"><img
    src="../../../assets/images/documento.png" />&nbsp;<b>Resumen Pug Informe</b>
</div>
<app-resumen-pug-informe></app-resumen-pug-informe>
