<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-success">
                <h4 class="m-b-0 text-white">REGISTRO DE INDICADORES DE GESTIÓN</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="registerForm" >
                    <div class="form-body">

                        <hr>
                        <div class="row p-t-20">

                            <div class="col-md-12">
                                <div class="form-group has-success">
                                    <label class="control-label">SEDE / VICERECTORADO / UNIDAD / PROYECTO</label>
                                    <select class="form-control custom-select" formControlName="unidad" [(ngModel)]="indicadorModelo.unidad">
                                        <option *ngFor="let unidad of unidades" value="{{unidad.unidad}}">
                                            {{unidad.unidad}}</option>

                                    </select>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label class="control-label">RESPONDE A:</label>
                                    <select class="form-control custom-select" formControlName="responde" [(ngModel)]="indicadorModelo.responde">
                                        <option *ngFor="let resp of responder" value="{{resp.responde}}">
                                            {{resp.responde}}</option>

                                    </select>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label class="control-label">EVALUACIÓN DE DESEMPEÑO</label>
                                    <select class="form-control custom-select" formControlName="evaluacion"[(ngModel)]="indicadorModelo.evaluacion">
                                        <option value="SI">SI</option>
                                        <option value="NO">NO</option>

                                    </select>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label class="control-label">MACRO PROCESO</label>
                                    <select class="form-control custom-select" formControlName="macroProceso" [(ngModel)]="indicadorModelo.macroProceso">
                                        <option *ngFor="let mac of macro" value="{{mac.macroProceso}}">
                                            {{mac.macroProceso}}</option>


                                    </select>

                                </div>
                            </div>




                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">PRODUCTO</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="Producto"
                                        formControlName="producto"[(ngModel)]="indicadorModelo.producto">

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">INDICADOR</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="Indicador"
                                        formControlName="indicador" [(ngModel)]="indicadorModelo.indicador">

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">FÓRMULA</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="Fórmula"
                                        formControlName="formula"[(ngModel)]="indicadorModelo.formula">

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">DESCRIPCIÓN</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="Descripción"
                                        formControlName="descripcion" [(ngModel)]="indicadorModelo.descripcion">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label class="control-label">RESPONSABLE</label>
                                    <select class="form-control custom-select" formControlName="responsable"[(ngModel)]="indicadorModelo.responsable">
                                        <option value="VICERRECTOR">VICERRECTOR</option>
                                        <option value="DIRECTOR UNIDAD">DIRECTOR UNIDAD</option>
                                        <option value="DIRECTOR DEPARTAMENTO">DIRECTOR DEPARTAMENTO</option>
                                        <option value="COORDINADOR DE PLANIFICACIÓN">COORDINADOR DE PLANIFICACIÓN
                                        </option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">NOMBRE RESPONSABLE</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="Nombre"
                                        formControlName="nombreResponsable" [(ngModel)]="indicadorModelo.nombreResponsable">

                                </div>
                            </div>

                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">

                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">FECHA INICIO MEDICIÓN</label>
                                    <input type="date" class="form-control" placeholder="dd/mm/yyyy"
                                        formControlName="fechaMedicion" [(ngModel)]="indicadorModelo.fechaMedicion">
                                </div>
                            </div>
                            <!--/span-->


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">LINEA BASE</label>
                                    <input type="number" id="firstName" class="form-control" placeholder="Linea base "
                                        formControlName="lineaBase"[(ngModel)]="indicadorModelo.lineaBase">

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label class="control-label">COMPORTAMIENTO</label>
                                    <select class="form-control custom-select" formControlName="comportamiento"[(ngModel)]="indicadorModelo.comportamiento">
                                        <option value="DISCRETO ACUMULADO">DISCRETO ACUMULADO</option>
                                        <option value="DISCRETO PERIODICO">DISCRETO POR PERIODO</option>
                                        <option value="CONTINUO">CONTINUO</option>

                                    </select>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label class="control-label">UNIDAD DE MEDIDA</label>
                                    <select class="form-control custom-select" formControlName="unidadMedida" [(ngModel)]="indicadorModelo.unidadMedida">
                                        <option value="ACTIVIDAD">ACTIVIDAD</option>
                                        <option value="DÍAS">DÍAS</option>
                                        <option value="ESCALA">ESCALA</option>
                                        <option value="ESCALA LIKERT">ESCALA LIKERT</option>
                                        <option value="HORAS ">HORAS </option>
                                        <option value="MINUTOS">MINUTOS</option>
                                        <option value="NÚMERO">NÚMERO</option>
                                        <option value="PORCENTAJE">PORCENTAJE</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label class="control-label">SENTIDO DE LA MEDICIÓN</label>
                                    <select class="form-control custom-select" formControlName="sentidoMedicion" [(ngModel)]="indicadorModelo.sentidoMedicion">
                                        <option value="DISCRETO">ASCENDENTE</option>
                                        <option value="CONTINUO">DESCENDENTE</option>

                                    </select>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">META</label>
                                    <input type="number" id="firstName" class="form-control" placeholder="Meta"
                                        formControlName="meta" [(ngModel)]="indicadorModelo.meta">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label class="control-label">PERIODICIDAD</label>
                                    <select [(ngModel)]="indicadorModelo.periodicidad" class="form-control custom-select" [formControl]="selected">
                                        <option selected>SELECCIONE</option>
                                        <option value="MENSUAL">MENSUAL</option>
                                        <option value="TRIMESTRAL">TRIMESTRAL</option>

                                        <option value="CUATRIMESTRAL">CUATRIMESTRAL</option>
                                        <option value="SEMESTRAL">SEMESTRAL</option>
                                        <option value="ANUAL">ANUAL</option>
                                    </select>

                                </div>
                            </div>





                        </div>
                        <div>
                            <table class="table table-hover" *ngIf="mostrar">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">MESES</th>
                                        <th scope="col">CANTIDAD</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>ENERO</td>
                                        <td>
                                            <input type="number" id="firstName" class="form-control" placeholder=""
                                                formControlName="enero" [(ngModel)]="indicadorModelo.enero">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>FEBRERO</td>
                                        <td>
                                            <input type="number" id="firstName" class="form-control" placeholder=""
                                                formControlName="febrero"[(ngModel)]="indicadorModelo.febrero">
                                        </td>

                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>MARZO</td>
                                        <td>
                                            <input type="number" id="firstName" class="form-control" placeholder=""
                                                formControlName="marzo" [(ngModel)]="indicadorModelo.marzo">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>ABRIL</td>
                                        <td>
                                            <input type="number" id="firstName" class="form-control" placeholder=""
                                                formControlName="abril" [(ngModel)]="indicadorModelo.abril">
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">5</th>
                                        <td>MAYO</td>
                                        <td>
                                            <input type="number" id="firstName" class="form-control" placeholder=""
                                                formControlName="mayo" [(ngModel)]="indicadorModelo.mayo">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">6</th>
                                        <td>JUNIO</td>
                                        <td>
                                            <input type="number" id="firstName" class="form-control" placeholder=""
                                                formControlName="junio" [(ngModel)]="indicadorModelo.junio">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">7</th>
                                        <td>JULIO</td>
                                        <td>
                                            <input type="number" id="firstName" class="form-control" placeholder=""
                                                formControlName="julio"[(ngModel)]="indicadorModelo.julio">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">8</th>
                                        <td>AGOSTO</td>
                                        <td>
                                            <input type="number" id="firstName" class="form-control" placeholder=""
                                                formControlName="agosto" [(ngModel)]="indicadorModelo.agosto">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">9</th>
                                        <td>SEPTIEMBRE</td>
                                        <td>
                                            <input type="number" id="firstName" class="form-control" placeholder=""
                                                formControlName="septiembre" [(ngModel)]="indicadorModelo.septiembre">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">10</th>
                                        <td>OCTUBRE</td>
                                        <td>
                                            <input type="number" id="firstName" class="form-control" placeholder=""
                                                formControlName="octubre" [(ngModel)]="indicadorModelo.octubre">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">11</th>
                                        <td>NOVIEMBRE</td>
                                        <td>
                                            <input type="number" id="firstName" class="form-control" placeholder=""
                                                formControlName="noviembre" [(ngModel)]="indicadorModelo.noviembre">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">12</th>
                                        <td>DICIEMBRE</td>
                                        <td>
                                            <input type="number" id="firstName" class="form-control" placeholder=""
                                                formControlName="diciembre" [(ngModel)]="indicadorModelo.diciembre">
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <div class="row" *ngIf="mostrar2">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">TRIMESTRE 1</label>
                                    <input type="number" id="firstName" class="form-control" placeholder=""
                                        formControlName="trimestre1" [(ngModel)]="indicadorModelo.trimestre1">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">TRIMESTRE 2</label>
                                    <input type="number" id="firstName" class="form-control" placeholder=""
                                        formControlName="trimestre2" [(ngModel)]="indicadorModelo.trimestre2">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">TRIMESTRE 3</label>
                                    <input type="number" id="firstName" class="form-control" placeholder=""
                                        formControlName="trimestre3" [(ngModel)]="indicadorModelo.trimestre3">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">TRIMESTRE 4</label>
                                    <input type="number" id="firstName" class="form-control" placeholder=""
                                        formControlName="trimestre4" [(ngModel)]="indicadorModelo.trimestre4">

                                </div>
                            </div>

                        </div>

                        <div class="row" *ngIf="mostrar3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">CUATRIMESTRAL 1</label>
                                    <input type="number" id="firstName" class="form-control" placeholder=""
                                        formControlName="cuatrimestral1" [(ngModel)]="indicadorModelo.cuatrimestral1">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">CUATRIMESTRAL 2</label>
                                    <input type="number" id="firstName" class="form-control" placeholder=""
                                        formControlName="cuatrimestral2" [(ngModel)]="indicadorModelo.cuatrimestral2">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">CUATRIMESTRAL 3</label>
                                    <input type="number" id="firstName" class="form-control" placeholder=""
                                        formControlName="cuatrimestral3" [(ngModel)]="indicadorModelo.cuatrimestral3">

                                </div>
                            </div>


                        </div>


                        <div class="row" *ngIf="mostrar4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">SEMESTRAL 1</label>
                                    <input type="number" id="firstName" class="form-control" placeholder=""
                                        formControlName="semestral1" [(ngModel)]="indicadorModelo.semestral1">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">SEMESTRAL 2</label>
                                    <input type="number" id="firstName" class="form-control" placeholder=""
                                        formControlName="semestral2"[(ngModel)]="indicadorModelo.semestral2">

                                </div>
                            </div>



                        </div>

                        <div class="row" *ngIf="mostrar5">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">ANUAL</label>
                                    <input type="number" id="firstName" class="form-control" placeholder=""
                                        formControlName="anual" [(ngModel)]="indicadorModelo.anual">

                                </div>
                            </div>
                        </div>

                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">OBSERVACIÓNES</label>
                                    <input type="text" id="firstName" class="form-control" placeholder=""
                                        formControlName="observaciones"[(ngModel)]="indicadorModelo.observaciones">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label class="control-label">SOLICITUD ACTUALIZACIÓN INDICADOR</label>
                                    <select [ngClass]="{'bg-success text-white':indicadorModelo.solicitaUpd=='NO',
                                    'bg-danger text-white':indicadorModelo.solicitaUpd=='SI'}" class="form-control custom-select text" formControlName="solicitaUpd"
                                    (change)="update()"
                                        [(ngModel)]="indicadorModelo.solicitaUpd">
                                        <option class="texto" value="SI">SI</option>
                                        <option class="texto" value="NO">NO</option>
    
                                    </select>
    
                                </div>
                            </div>
    
                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label class="control-label">AUTORIZACIÓN DE ACTUALIZACCIÓN</label>
                                    <select [ngClass]="{'bg-success text-white':indicadorModelo.autorizacion=='AUTORIZADO',
                                    'bg-danger text-white':indicadorModelo.autorizacion=='NO AUTORIZADO'}"  (change)="update()" class="form-control custom-select text " formControlName="autorizacion"[(ngModel)]="indicadorModelo.autorizacion">
                                        <option class="texto" value="AUTORIZADO">AUTORIZADO</option>
                                        <option class="texto" value="NO AUTORIZADO">NO AUTORIZADO</option>
    
                                    </select>
    
                                </div>
                            </div>

                        </div>
                     


                        <div class="row">
                            <div class="col text-danger">
        
                                <p *ngIf="campoNoValido('unidad')">* Seleccione una unidad es obligatorio</p>
                                <p *ngIf="campoNoValido('responde')">*A quien responde es obligatorio y tiene que ser válido</p>
                                <p *ngIf="campoNoValido('evaluacion')">* Seleccione una unidad es obligatorio</p>
                                <p *ngIf="campoNoValido('macroProceso')">* Seleccione un macro proceso es obligatorio</p>
                                <p *ngIf="campoNoValido('producto')">* escriba producto es obligatorio</p>
                                <p *ngIf="campoNoValido('indicador')">* Escriba un indicador es obligatorio</p>
                                <p *ngIf="campoNoValido('formula')">* Escriba una formula es obligatorio</p>
                                <p *ngIf="campoNoValido('descripcion')">* Escriba una descripcion es obligatorio</p>
                                <p *ngIf="campoNoValido('responsable')">* Seleccione un responsable es obligatorio</p>
                                <p *ngIf="campoNoValido('nombreResponsable')">* Escriba un nombre es obligatorio</p>
                                <p *ngIf="campoNoValido('fechaMedicion')">* Seleccione una fecha es obligatorio</p>
                                <p *ngIf="campoNoValido('lineaBase')">* Escriba en la linea base es obligatorio</p>
                                <p *ngIf="campoNoValido('comportamiento')">* Seleccione un comportamiento es obligatorio</p>
                                <p *ngIf="campoNoValido('unidadMedida')">* Seleccione una unidad de medida es obligatorio</p>
                                <p *ngIf="campoNoValido('sentidoMedicion')">* Seleccione sentido de medición es obligatorio</p>
                                <p *ngIf="campoNoValido('meta')">* Escriba una meta es obligatorio</p>
                                <p *ngIf="campoNoValido('observaciones')">*Escribe una observación es obligatorio</p>
                       

                                

                                
        
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <button [routerLink]="['/dashboard/indicadoresUpdi']" routerLinkActive="router-link-active"  class="btn btn-success" > REGRESAR &nbsp;<i
                                class="fa fa-check"></i></button>&nbsp;&nbsp;
                                <button  class="btn btn-success" (click)="update()" > ACTUALIZAR INFORMACIÓN &nbsp;<i
                                    class="fa fa-save"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Row -->

<app-calculo-discreto-acumulado></app-calculo-discreto-acumulado>

