
  <div class=" container p-3 " class="col-sm">
    <h1 align="center" id="color">INDICADORES DE GESTIÓN</h1>
</div>


<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-responsive-md btn-table"  class="table table-bordered" id="tableColor" >
                <thead>
                    <tr>
                        <th scope="col" COLSPAN=1 style="background: azure">Nº</th>
                        <th scope="col" COLSPAN=1 style="background: azure">UNIDAD</th>
                        <th scope="col" COLSPAN=1 style="background: azure">RESPONDE A</th>
                        <th scope="col" COLSPAN=1 style="background: azure">MACROPROCESO</th>
                        <th scope="col" COLSPAN=1 style="background: azure">FECHA CREACIÓN</th>
                   
                   
                 
                     
                   
                        <th scope="col" COLSPAN=1 style="background: azure">EDITAR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let form of  formularios| paginate: { itemsPerPage: 5, currentPage: totalRegistros }; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{form.unidad}}</td>
                        <td>{{form.responde}}</td>
                        <td>{{form.macroProceso}}</td>
                        <td>{{form.fechaReporte |date:'dd-MM-yyyy'}}</td>
                     
                     
                      
                     
                     
                       
                        <td>
                            <button type="button" class="btn btn-outline-primary"
                                       style="width: 75px;height: 70;font-size: 50%;"
                            [routerLink]="['/dashboard/indicadores/',form._id]"><b>VER</b></button>
                        
                        </td>

                        <!-- Botón Avance de Indicador -->

                        <!-- FIN - Botón Avance de Indicador -->

                    </tr>                  
                </tbody>
            </table>
            <pagination-controls (pageChange)="totalRegistros = $event"></pagination-controls>
        </div>
    </div>
</div>
