<br>
<br>
<div class="card-header text-white  bg-success" class="contenedor"><img
    src="../../../assets/images/documento.png" />&nbsp;<b>PROGRAMA
    82: FORMACIÓN Y GESTIÓN ACADÉMICA - LATACUNGA </b>
</div> <br> <br>

<div class="table-responsive">
  <div>
    <div>
      <div>
        <table class="table table-hover table-bordered  table-sm">
          <thead class="table-dark">
            <tr>
              <td align="center" id="colorTituloRF">ESTRUCTURA PRESUPUESTARIA </td>
              <td align="center" id="colorTituloRF">UNIDAD / DEPARTAMENTO</td>
              <td align="center" id="colorTituloRF">PROCENTAJE DE CUMPLIMIENTO PROGRAMADO DE EJECUCIÓN
                PRESUPUESTARIA</td>
              <td align="center" id="colorTituloRF">CATEGORÍA DE EJECUCIÓN PRESUPUESTARIA</td>
              <td align="center" id="colorTituloRF">"% AVANCE FÍSICO (CUMPLIMIENTO METAS CORTE 31
                DICIEMBRE)"
              </td>

              <td align="center" id="colorTituloRF">CATEGORÍA DE EJECUCIÓN DE METAS
              </td>

              <td align="center" id="colorTituloRF">ÍNDICE DE GESTIÓN OPERATIVA

              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>GESTIÓN INSTITUCIONAL ADMINISTRACIÓN DE LA EDUCACIÓN SUPERIOR ESPEL</td>
              <td><input type="number" min="0" value="0" style="width: 100px;" [(ngModel)]="num1"><i class="fa fa-circle text-danger"></i></td>
              <td>Bajo cumplimiento</td>
              <td><input type="number" min="0" value="0" style="width: 100px;" [(ngModel)]="num2"><i class="fa fa-circle text-danger"></i></td>
              <td>Metas no cumplidas </td>
              <td>
                <input type="number" min="0" style="width: 100px;" value="{{result}}"><i class="fa fa-circle text-danger"></i>
              </td>
            </tr>
            <tr>
              <td>918.900.000.000.382.000
              </td>
              <td>
                PROYECTO DE INVERSIÓN PARA LA IMPLEMENTACIÓN DE LA TERCERA FASE DEL
                CAMPUS UNIVERSITARIO GRAL. GUILLERMO RODRÍGUEZ LARA

              </td>
              <td><input type="number" min="0" value="0" style="width: 100px;" [(ngModel)]="num3"><i class="fa fa-circle text-danger"></i></td>
              <td>Bajo cumplimiento
              </td>
              <td><input type="number" min="0" value="0" style="width: 100px;" [(ngModel)]="num4"><i class="fa fa-circle text-danger"></i></td>
              <td>
                Metas no cumplidas


              </td>
              <td>
                <input type="number" min="0" style="width: 100px;"  [(ngModel)]="num4" ><i class="fa fa-circle text-danger"></i>
              </td>

            </tr>


            <tr>
              <td>918900000000382000

              </td>
              <td>
                PROGRAMAS ACADÉMICOS DE POSGRADO 2018

              </td>
              <td>
                <input type="number"  min="0" style="width: 100px;" value="{{result}}"><i class="fa fa-circle text-danger"></i>
              </td>
              <td>Bajo cumplimiento
              </td>
              <td>
                <input type="number"  min="0" style="width: 100px;" value="{{result}}"><i class="fa fa-circle text-danger"></i>
              </td>
              <td>
                Metas cumplidas


              </td>
              <td>
                <input type="number"  min="0" style="width: 100px;" value="{{result}}"><i class="fa fa-circle text-danger"></i>
              </td>

            </tr>
            <tr>
              <td>9189000010595210

              </td>
              <td>
                PROYECTO DE INVERSIÓN PARA LA IMPLEMENTACIÓN DE LA SEGUNDA
                FASE DEL CAMPUS DE LA NUEVA SEDE ESPE LATACUNGA

              </td>
              <td>
                <input type="number"  min="0" style="width: 100px;" value="{{result}}"><i class="fa fa-circle text-danger"></i>
              </td>
              <td>Bajo cumplimiento
              </td>
              <td>
                <input type="number" min="0" style="width: 100px;" value="{{result}}"><i class="fa fa-circle text-danger"></i>
              </td>
              <td>
                Metas cumplidas


              </td>
              <td>
                <input type="number" min="0" style="width: 100px;" value="{{result}}"><i class="fa fa-circle text-danger"></i>
              </td>

            </tr>
            <tr>
              <td>918900000000383000

              </td>
              <td>
                OFERTA DE PROGRAMAS DE EDUCACIÓN CONTINUA

              </td>
              <td>
                <input type="number" min="0" style="width: 100px;" value="{{result}}"><i class="fa fa-circle text-danger"></i>
              </td>
              <td>Bajo cumplimiento
              </td>
              <td>
                <input type="number" min="0" style="width: 100px;" value="{{result}}"><i class="fa fa-circle text-danger"></i>
              </td>
              <td>
                Metas no cumplidas


              </td>
              <td>
                <input type="number" min="0" style="width: 100px;" value="{{result}}"><i class="fa fa-circle text-danger"></i>
              </td>

            </tr>
            <tr>
              <td>91890000.0000.383721

              </td>
              <td>
                OFERTA DE PROGRAMAS DE CUARTO NIVEL

              </td>
              <td>
                <input type="number" min="0" style="width: 100px;" value="{{result}}"><i class="fa fa-circle text-danger"></i>
              </td>
              <td>Bajo cumplimiento
              </td>
              <td>
                <input type="number" min="0" style="width: 100px;" value="{{result}}"><i class="fa fa-circle text-danger"></i>
              </td>
              <td>
                Metas no cumplidas


              </td>
              <td>
                <input type="number" min="0" style="width: 100px;" value="{{result}}"><i class="fa fa-circle text-danger"></i>
              </td>

            </tr>
            <tr>
              <td>91890000.0000.384794

              </td>
              <td>
                PROGRAMA ACADEMICOS DE POSGRADO 2020

              </td>
              <td>
                <input type="number" min="0" style="width: 100px;" value="{{result}}"><i class="fa fa-circle text-danger"></i>
              </td>
              <td>Bajo cumplimiento
              </td>
              <td>
                <input type="number" min="0" style="width: 100px;" value="{{result}}"><i class="fa fa-circle text-danger"></i>
              </td>
              <td>
                Metas no cumplidas


              </td>
              <td>
                <input type="number" min="0" style="width: 100px;" value="{{result}}"><i class="fa fa-circle text-danger"></i>
              </td>
            </tr>

            <tr>
              <td style="width:100px"><br> <br> <br> </td>
              <td style="width:100px"></td>
              <td>
                <input type="number" min="0" style="width: 100px;" value="{{result}}"><i class="fa fa-circle text-danger"></i>
              </td>
              <td>Bajo cumplimiento
              </td>
              <td>
                <input type="number" min="0" style="width: 100px;" value="{{result}}"><i class="fa fa-circle text-danger"></i>
              </td>
              <td>
                Metas no cumplidas


              </td>
              <td>
                <input type="number" min="0" style="width: 100px;" value="{{result}}"><i class="fa fa-circle text-danger"></i>
              </td>
            </tr>


          </tbody>

        </table>
        <div>
          <input type="button" class="btn btn-success" value="calcula" (click)="calcular()"><td>{{result5}}</td>
          <input type="number" min="0" style="width: 100px;" value="{{result}}"><i class="fa fa-circle text-danger"></i>
        </div>
      </div>
    </div>
  </div>
</div>